<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5122163078-7fj3k5tmvjdavqk6krfg7kpnmd98cn3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5122163078-7fj3k5tmvjdavqk6krfg7kpnmd98cn3k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5122163078-71c1489oa290t2r9co0065qd1abttlua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAskdvKoypWOBilUylzLC13vqHBMihtcR8</string>
	<key>GCM_SENDER_ID</key>
	<string>5122163078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appintercom</string>
	<key>PROJECT_ID</key>
	<string>intercom-680a7</string>
	<key>STORAGE_BUCKET</key>
	<string>intercom-680a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5122163078:ios:4ba9cb53d45f5cc003ec07</string>
</dict>
</plist>